[user]
	name = Luis Duque
	email = luisfpetrucci@gmail.com
[core]
	editor = vim
  	pager = delta
[delta]
  	line-numbers = true
[safe]
	directory = $HOME/src/neovim
[merge]
  	conflictstyle = diff3
[diff]
  	colorMoved = default
[alias]
	ce = commit --amend --no-edit
	co = checkout
	cb = checkout -b
	p = push
	pf = push --force
[pull]
	rebase = true
